{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
    <div class="banner">
        <div class="video"></div>
        <h2>Carcerópolis</h2>
        <p class="intro">
            Single-origin coffee put a bird on it craft beer YOLO, Portland hella deep v Schlitz. Tumblr Bushwick post-ironic Thundercats. Vinyl 90's keytar, literally cardigan Williamsburg YOLO squid pickled Etsy salvia lo-fi locavore. Meh leggings retro narwhal Neutra.
        </p>
        <p class="links">
            <a href="about">Dados</a>
            <a href="blog">Publicações</a>
        </p>
    </div>
</section>
{% endblock %}