{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}
{% load static %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Dados" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block extra_css %}
{{ bokeh_css|safe }}
{% endblock %}

{% block extra_js %}
{{ bokeh_js|safe }}
{% endblock %}


{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Dados" %}
{% endif %}
{% endblock %}


{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or categoria or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if categoria %}
    {% trans "Categoria:" %} {{ Categoria }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}


{% block main %}
<div class="container">
  <nav class="menu-dados">
    <a class="gerais{% if request.resolver_match.url_name == 'dados_gerais' %} active{% endif %}"
       href="{% url 'dados_gerais' %}" title="Dados Gerais">
      <span>Dados Gerais</span>
    </a>
    <a class="perfil{% if request.resolver_match.url_name == 'dados_perfil_populacional' %} active{% endif %}"
       href="{% url 'dados_perfil_populacional' %}" title="Perfil Populacional">
      <span>Perfil Populacional</span>
    </a>
    <a class="infra{% if request.resolver_match.url_name == 'dados_infraestrutura' %} active{% endif %}"
       href="{% url 'dados_infraestrutura' %}" title="Infraestrutura">
      <span>Infraestrutura</span>
    </a>
    <a class="juridico{% if request.resolver_match.url_name == 'dados_juridico' %} active{% endif %}"
       href="{% url 'dados_juridico' %}" title="Situação Jurídica">
      <span>Situação Jurídica</span>
    </a>
    <a class="educacao{% if request.resolver_match.url_name == 'dados_educacao' %} active{% endif %}"
       href="{% url 'dados_educacao' %}" title="Trabalho e Educação">
      <span>Trabalho e Educação</span>
    </a>
    <a class="saude{% if request.resolver_match.url_name == 'dados_saude' %} active{% endif %}"
       href="{% url 'dados_saude' %}" title="Saúde">
        <span>Saúde</span>
    </a>
    <a class="materno{% if request.resolver_match.url_name == 'dados_materno_infantil' %} active{% endif %}"
       href="{% url 'dados_materno_infantil' %}" title="Materno-Infantil">
      <span>Materno-Infantil</span>
    </a>
    <a class="alas-exclusivas{% if request.resolver_match.url_name == 'dados_alas_exclusivas' %} active{% endif %}"
       href="{% url 'dados_alas_exclusivas' %}" title="Alas Exclusivas">
      <span>Alas Exclusivas</span>
    </a>
  </nav>
</div>

<section class="container dados-interna">
  {% block text_intro %}
  {% endblock %}

  {% for grafico in graficos %}
    <section class="frame graf" id="graf-{{forloop.counter}}">
        <div class="graf-chart">
          {{ grafico.graph|safe }}
          {{ grafico.script|safe }}
        </div>
        <aside class="graf-meta">
          <dl>
            <dt>Fonte:</dt>
            <dd>
              {% if grafico.fonte_url %}
                <a href="{{grafico.fonte_url}}">{{ grafico.fonte }}</a>
              {% else %}
                {{grafico.fonte}}
              {% endif %}
            </dd>
            {% if grafico.notas %}
              <dt>Notas:</dt>
                {% for nota in grafico.notas %}
              <dd>
                  <span class='graf-nota'>{{ nota }}</span>
              </dd>
                {% endfor %}
            {% endif %}
          </dl>
          <span class='download'>
            <a href="{% static grafico.data_file_url %}">
              Download dos dados deste gráfico
            </a>
          </span>
        </aside>
    </section>
  {% endfor %}
</section>
{% endblock %}
