{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Publicação" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}


{% block extra_css %}

{% endblock %}

{% block extra_js %}
<script src="/static/js/vendors/highcharts.js"></script>
{% endblock %}


{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Dados" %}
{% endif %}
{% endblock %}


{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or categoria or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if categoria %}
    {% trans "Categoria:" %} {{ Categoria }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}


{% block main %}
<div class="container">
  <nav class="menu-dados">
    <a class="gerais" href="/dados/gerais/" title="Dados Gerais">
      <span>Dados Gerais</span>
    </a>
    <a class="perfil" href="/dados/perfil_populacional/" title="Perfil Populacional">
      <span>Perfil Populacional</span>
    </a>
    <a class="infra" href="/dados/infraestrutura/" title="Infraestrutura">
      <span>Infraestrutura</span>
    </a>
    <a class="juridico" href="/dados/juridico/" title="Situação Jurídica">
      <span>Situação Jurídica</span>
    </a>
    <a class="educacao active" href="/dados/educacao/" title="Trabalho e Educação">
      <span>Trabalho e Educação</span>
    </a>
    <a class="saude" href="/dados/saude/" title="Saúde">
        <span>Saúde</span>
    </a>
    <a class="materno" href="/dados/materno_infantil/" title="Materno-Infantil">
      <span>Materno-Infantil</span>
    </a>
    <a class="alas-exclusivas" href="/dados/alas_exclusivas/" title="Alas Exclusivas">
      <span>Alas Exclusivas</span>
    </a>
  </nav>
</div>

<section class="container dados-interna">
  <h1>ESTABELECIMENTO PRISIONAL FEMININO SANTA LUZIA</h1>
  <div id='data-main-container'>
    <div class='cards'>
      <div id="escolaridade-timeline" class='card'>
        <div class="card-header">
          <div class="card-title">
            Escolaridade
          </div>
        </div>
        <div class="card-chart" id='escolaridade-timeline-chart'>
        </div>
        <div class="card-meta">
          Fonte: Infopen
        </div>
      </div>
    </div>
  </div>
</section>

{% block final_js%}
<script src='/static/js/charts/educacao.js'></script>
{% endblock %}
<script>

</script>
{% endblock %}

{% block right_panel %}

{% endblock %}
