{% extends "base.html" %}
{% load i18n mezzanine_tags staticfiles %}

{% block meta_title %}
    {% if page %}
        {{ page.meta_title }}
    {% else %}
        {% trans "Unidades Prisionais" %}
    {% endif %}
{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.0/dist/leaflet.css"
   integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
   crossorigin=""/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.css"/>
  <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.2.0/dist/MarkerCluster.Default.css"/>
{% endblock %}

{% block extra_js %}
  <script src="https://unpkg.com/leaflet@1.3.0/dist/leaflet.js"
    integrity="sha512-C7BBF9irt5R7hqbUm2uxtODlUVs+IsNu2UULGuZN7gM+k/mmeG4xvIEac01BtQa4YIkUpp23zZC4wIwuXaPMQA=="
    crossorigin=""></script>
  <script src="https://unpkg.com/leaflet.markercluster@1.2.0/dist/leaflet.markercluster.js"></script>
  <script src="https://unpkg.com/vue@2.5.13/dist/vue.js"></script>
  <script src="{% static "js/map_data.js" %}"></script>
  <script src="{% static "js/map.js" %}"></script>
{% endblock %}

{% block main %}

<script>
 var states = {{ states }}
</script>

<script id="perc-bar-template" type="text/x-template">
  <div class="perc-bar">
    <div class="inner-bar"
        :style="{width: value + '%', height: '100%', 'background-color': color}">
        <span v-if="labelInside" :style="{color: 'white'}">
            [[ value ]]% [[ label ]]
        </span>
    </div>
    <span v-if="!labelInside" :style="{color: color}">
        [[ value ]]% [[ label ]]
    </span>
  </div>
</script>

<script id="age-pyramid-template" type="text/x-template">
  <div>
    <table class="piramide-idade">
      <thead>
        <tr>
          <th>Homens</th>
          <th>Mulheres</th>
          <th>Idade</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="age in data.ages">
          <td>
            <perc-bar :value="age.male"
                      :key="age.range"
                      color="rgba(51,1,41,1)"></perc-bar>
          </td>
          <td>
            <perc-bar :value="age.female"
                      :key="age.range"
                      color="rgb(171,14,0)"></perc-bar>
          </td>
          <td>[[ age.range ]]</td>
        </tr>
        <tr>
          <td>
            <perc-bar :value="data.total.perc.male"
                      :label="data.total.abs.male"
                      color="rgba(51,1,41,1)"></perc-bar>
          </td>
          <td>
            <perc-bar :value="data.total.perc.female"
                      :label="data.total.abs.female"
                      color="rgb(171,14,0)"></perc-bar>
          </td>
          <td>%</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="3">
            <span>Idade média na unidade prisional:</span> [[ data.idade_media ]] anos
          </td>
        </tr>
      </tfoot>
    </table>
  </div>
</script>

<script id="detailed-info-template" type="text/x-template">
  <div>
    <section class="informacoes">
      <dl class="vagas">
        <dd>[[ unidade.pop_total ]]</dd> <dt>pessoas</dt>
        <dd>[[ unidade.vagas ]]</dd> <dt>vagas</dt>
        <dd>[[ unidade.pop_perc.provisoria ]]%</dd> <dt>presos(as) provisórios(as)</dt>
      </dl>
      <dl class="gestao">
        <dt>Gestão da Unidade:</dt>
        <dd>[[ unidade.tipo_gestao ]]</dd>
      </dl>
      <dl class="qualidade">
        <dt>Índice da Qualidade da informação:</dt>
        <dd>[[ unidade.qualidade_info.toLocaleString('pt-br') ]]</dd>
      </dl>
    </section>
    <section class="demografia">
      <h3>Demografia da Unidade</h3>
      <div class="col-md-5">
        <div class="row">
          <!-- Population Origin -->
          <perc-bar v-for="pop in unidade.pop_perc.origem"
                    :value="pop.value"
                    :label="pop.label"
                    label-position="outside"
                    :key="pop.label"
                    color="rgb(165, 165, 165)">
          </perc-bar>
        </div>
        <div class="row">
          <!-- Population Color -->
          <perc-bar v-for="pop in unidade.pop_perc.cor"
                    :value="pop.value"
                    :label="pop.label"
                    label-position="outside"
                    :key="pop.label"
                    :color="pop.color">
          </perc-bar>
        </div>
      </div>
      <div class="col-md-7">
        <age-pyramid :data="unidade.pyramid"></age-pyramid>
      </div>
    </section>
  </div>
</script>

<section class="container dados-interna unidades-prisionais" id="map-vue-app">
  <div class="container">
    {% include 'carceropolis/includes/menu_dados.html' %}
  </div>
  <h1>Unidades Prisionais no Brasil</h1>
  <div class="col-text-2">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni, illum. Autem distinctio commodi dicta at vero eos nesciunt
      nobis, praesentium, labore quam nisi modi saepe, molestiae corporis earum? Autem, quis.
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deleniti illo maiores ad amet sequi fugiat placeat veritatis. Dignissimos
      saepe id amet incidunt enim, dolor aliquid soluta autem aliquam minima natus?
    </p>
  </div>

  <div class="mapa">
    <div class="col-md-8">
      <!-- Map -->
      <div id="map" v-show="showCompleteInfo == false" aria-live="polite"></div>
      <!-- Detailed info about unidade -->
      <button class="btn detailed-info" @click="showCompleteInfo = false" title="Fechar informações detalhadas da unidade">x</button>
      <detailed-info v-if="showCompleteInfo" class="completeInfoPannel" :unidade="unidade" aria-live="polite">
      </detailed-info>
    </div>
    <div class="col-md-4">
      <!-- Map side pannel -->
      <div class="map-side-pannel">
        <!-- Filter -->

        <div class="input-group">
          <input autofocus title="Filtro" placeholder="Filtre por nome, sigla ou endereço" v-model.trim="filterStr" type="search" class="form-control">
          <span class="input-group-btn">
            <button class="btn" title="limpar filtro" @click="filterStr = ``">x</button>
          </span>
        </div>

        <!-- Short info about unidade -->
        <section v-if="unidade" class="unidade-info" aria-live="polite">
          <h2>[[ unidade.nome_unidade ]]</h2>
          <p v-if="unidade.nome_logradouro">
            [[ formatAddress(unidade) ]]
          </p>
          <dl class="contato">
            <dt v-if="unidade.email">E-mail:</dt>
            <dd v-if="unidade.email"><a :href="formatMailto(unidade.email)">[[ unidade.email ]]</a></dd>
          
            <dt v-if="unidade.telefone">Fone:</dt>
            <dd v-if="unidade.telefone" >[[ formatFone(unidade.telefone, unidade.ddd) ]]</dd>
            
            <dt v-if="unidade.visitacao">Visitação:</dt>
            <dd v-if="unidade.visitacao">[[ unidade.visitacao ]]</dd>
          </dl>
          
          <h3>
            Índices de Infraestrutura Prisional 
            <button class="btn pull-right" @click="showCompleteInfo = true">saiba mais</button>
          </h3>
          <dl class="indices">
            <dt>Educação:</dt>
            <dd>[[unidade.indices.educacao]]</dd>
            <dt>Trabalho:</dt>
            <dd>[[unidade.indices.trabalho]]</dd>
            <dt>Saúde:</dt>
            <dd>[[unidade.indices.saude]]</dd>
            <dt>Jurídico:</dt>
            <dd :data-juridico="unidade.indices.juridico.toString()">[[ formatBool(unidade.indices.juridico) ]]</dd>
          </dl>
        </section>
      </div>
    </div>

  </div>
</section>

{% endblock %}
