git+https://github.com/stephenmcd/mezzanine.git#egg=Mezzanine
django-extensions
django-phonenumber-field
django-logentry-admin
psycopg2
django-autoslug
pandas
ipython
# To be replaced by bokeh graphs
plotly
pandas
numpy
bokeh
flexx
