mezzanine
django-extensions
django-phonenumber-field
django-logentry-admin
django-modeltranslation
psycopg2-binary
django-extensions
pandas
ipython
geocoder==1.33.0
# To be replaced by bokeh graphs
numpy
bokeh
flexx
tornado
unidecode
python-memcached
uwsgi
