Babel==2.3.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
bleach==1.5.0
brasil.vocab==0.8
chardet==2.3.0
ckanclient==0.10
decorator==4.0.10
Django==1.10.5
django-autoslug==1.9.3
django-braces==1.9.0
django-contrib-comments==1.8.0
django-extensions==1.7.4
django-filter==0.14.0
django-localflavor==1.3
django-modeltranslation==0.12
django-oauth-toolkit==0.10.0
django-phonenumber-field==1.1.0
django-progressbarupload==0.1.7
django-rest-swagger==0.3.10
django-rosetta==0.7.12
django-shell-plus==1.1.7
django-taggit==0.21.2
django-taggit-autosuggest==0.3.0
djangorestframework==3.4.6
ecdsa==0.13
enum34==1.1.6
Fabric3==1.12.post1
filebrowser-safe==0.4.6
future==0.16.0
grappelli-safe==0.4.5
html5lib==0.9999999
ipython==5.1.0
ipython-genutils==0.1.0
isort==4.2.5
Mezzanine==4.2.2
mezzanine-api==0.5.0
microsofttranslator==0.8
oauthlib==2.0.1
olefile==0.44
paramiko==1.17.2
pathlib2==2.1.0
pexpect==4.2.1
phonenumberslite==7.6.1
pickleshare==0.7.4
Pillow==4.0.0
polib==1.0.7
progressbar2==3.10.1
prompt-toolkit==1.0.7
psycopg2==2.6.2
ptyprocess==0.5.1
pycrypto==2.6.1
Pygments==2.1.3
python-dateutil==2.5.3
python-utils==2.0.0
pytz==2016.10
PyYAML==3.12
requests==2.13.0
requests-oauthlib==0.8.0
simplegeneric==0.8.1
six==1.10.0
traitlets==4.3.0
tzlocal==1.3
wcwidth==0.1.7
plotly
pandas
numpy
