{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags static %}

{% block meta_title %}
    {% if page %}
        {{ page.meta_title }}
    {% else %}
        {% trans "Publications" %}
    {% endif %}
{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Publications" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block main %}
<section class="publicacao-home">
    <ul class="categorias-publicacoes">
    {% for categoria in categorias %} <!-- Categoria == Área de Atuação -->
        <li class="categoria-{{categoria.slug}}">
            <a href="categoria/{{ categoria.slug }}">
                {{ categoria.nome }} ({{ categoria.quantidade }})
            </a>
        </li>
    {% endfor %}
    </ul>
</section>
{% endblock %}
