{% load staticfiles static %}
<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <a href="http://www.conectas.org/" class="conectas" title="Por Conectas Direitos Humanos">
            <img src="{% static "images/conectas-marca-sd.svg" %}" alt="Conectas Direitos Humanos">
        </a>
      </div>
      <address class="col-md-7 col-lg-8">
        {% now "Y" %}
        | Tel/Fax +55 11 3884-7440 
        | Caixa Postal nº 62633 CEP: 01214-970 - São Paulo - SP
      </address>
      <div class="col-md-3 col-lg-2">
        <a href="https://ask-ar.xyz" class="ask" title="Construído por: ASK">
          <span>Construído por:</span>
          <img src="{% static "images/logo_ask_bco.svg" %}" alt="ASK">
        </a>
      </div>
    </div>
  </div>
</footer>