{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Carcerópolis" %}{% endblock %}
{% block title %}{% trans "Carcerópolis" %}{% endblock %}
{% block body_id %}home{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
    <div class="banner">
        <video id="intro-video" class="video" poster="static/images/slider/carceropolis.png" muted loop>
          <source src="static/videos/carceropolis-intro.mp4" type="video/mp4">
          <!-- <source src="media/demo.ogv" type="video/ogg">
          <source src="media/demo.webm" type="video/webm"> -->
        </video><!-- /video -->
        <h2>Carcerópolis</h2>
        <p class="intro">
            Single-origin coffee put a bird on it craft beer YOLO, Portland hella deep v Schlitz. Tumblr Bushwick post-ironic Thundercats. Vinyl 90's keytar, literally cardigan Williamsburg YOLO squid pickled Etsy salvia lo-fi locavore. Meh leggings retro narwhal Neutra.
        </p>
        <p class="links">
            <a href="Dados">Dados</a>
            <a href="Publicacoes">Publicações</a>
        </p>
    </div>
</section>
<script>
(function() {
  var video = document.getElementById("intro-video");

  video.addEventListener( "canplay", function() {
    video.play();
  });
})();
</script>
{% endblock %}