{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Carcerópolis" %}{% endblock %}
{% block title %}{% trans "Carcerópolis" %}{% endblock %}
{% block body_id %}home{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
  <div class="banner">
    <video id="intro-video" class="video" poster="static/images/slider/carceropolis.png" muted loop>
      <source src="static/videos/carceropolis-intro.webm" type="video/webm">
      <source src="static/videos/carceropolis-intro.mp4" type="video/mp4">
      <!-- <source src="media/demo.ogv" type="video/ogg"> -->
    </video><!-- /video -->
    <h2>Carcerópolis</h2>
    <p class="intro">
      O Brasil é um dos países que mais prende no mundo. Carcerópolis reúne dados e pesquisas que ajudam a revelar a estrutura e a população dessa nação atrás das grades.
    </p>
    <p class="links">
      <a href="Dados">Dados</a>
      <a href="Publicacoes">Publicações</a>
    </p>
  </div>
</section>
<script>
(function() {
  var video = document.getElementById("intro-video");

  video.addEventListener( "canplay", function() {
    video.play();
  });
})();
</script>
{% endblock %}
