{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags  static %}

{% block extra_css %}
{{ bokeh_css|safe }}
    <style>
    .mytooltip > ul {
        list-style-type: none;
        font-weight: bold;
        padding: 0;
        margin: 0;
    }
    </style>
{% endblock %}

{% block extra_js %}
    {{ bokeh_js|safe }}
{% endblock %}

{% block main %}
<div class="container">
  {% include 'carceropolis/includes/menu_dados.html' %}
</div>

<section class="container dados-interna">
  {% block text_intro %}
  {% endblock %}

  {% for grafico in graficos %}
    <section class="frame graf" id="graf-{{forloop.counter}}">
        <div class="graf-chart">
          {{ grafico.graph|safe }}
          {{ grafico.script|safe }}
        </div>
        <aside class="graf-meta">
          <dl>
            <dt>Fonte:</dt>
            <dd>
              {% if grafico.fonte_url %}
                <a href="{{grafico.fonte_url}}">{{ grafico.fonte }}</a>
              {% else %}
                {{grafico.fonte}}
              {% endif %}
            </dd>
            {% if grafico.notas %}
              <dt>Notas:</dt>
                {% for nota in grafico.notas %}
              <dd>
                  <span class='graf-nota'>{{ nota }}</span>
              </dd>
                {% endfor %}
            {% endif %}
          </dl>
          <span class='download'>
            <a href="{% static grafico.data_file_url %}">
              Download dos dados deste gráfico
            </a>
          </span>
        </aside>
    </section>
  {% endfor %}
</section>
{% endblock %}
