{% extends "carceropolis/dados/base_charts.html" %}

{% block text_intro %}
<h1>1. Dados Gerais</h1>
<p>
  O Brasil ocupa o terceiro lugar no ranking mundial de encarceramento: só
  temos menos pessoas atrás das grades que Estados Unidos e China,
  nesta ordem. Ainda que muitos afirmem que a posição do país reflete seu
  número de habitantes, é importante notar que, entre essas nações que mais
  encarceram, somos a única em que a população prisional cresce mais do que a
  população total.
</p>
<p>
  Por outro lado, exemplos como o da Índia, que tem pelo menos seis vezes
  mais habitantes, mas menos da metade da nossa população prisional, mostram
  que o encarceramento é fruto de escolhas políticas.
</p>
<p>
  Entre os Estados, destaca-se a posição de São Paulo, que abriga mais de um
  terço (33%) de todos os presos do Brasil e registra a quarta maior taxa de
  encarceramento (número de presos por cada 100 mil habitantes) do país, de
  536,5 [jun/2016]. A taxa nacional é de 352,6 [jun/2016].
</p>
<p>
  A população prisional considerada pelo Levantamento de Informações
  Penitenciárias – Infopen é composta pela soma das populações custodiadas
  nas unidades prisionais do sistema penitenciário estadual (estabelecimentos
  penais geridos pelos estados ou por modelos de parceria entre a gestão
  estadual e entidades privadas, normalmente inseridos na estrutura das
  Secretarias de Justiça e Administração Prisional); as pessoas custodiadas
  em carceragens de delegacias ou outros espaços de custódia geridos pelos
  órgãos da segurança pública estadual; e as pessoas custodiadas nos 4
  estabelecimentos penais do Sistema Penitenciário Federal, geridos
  diretamente pelo Departamento Penitenciário Federal. Os dados referentes às
  unidades do sistema penitenciário estadual e federal são informados
  diretamente pelos diretores ou responsáveis pelos estabelecimentos penais
  ao Departamento Página | 5Penitenciário Nacional e, assim, compõem as bases
  de dados abertos do Levantamento de Informações Penitenciárias - Infopen.
  Os dados referentes às pessoas custodiadas em carceragens de delegacias são
  coletados pela Secretaria Nacional de Segurança Pública – SENASP e
  repassados ao Departamento Penitenciário Nacional, para composição do
  relatório analítico do Infopen, mas não compõem as bases de dados abertos
  dos levantamentos. Não são consideradas no levantamento do Infopen as
  pessoas que cumprem pena em prisão albergue domiciliar e as pessoas
  monitoradas pelas Centrais de Monitoração Eletrônica.
</p>
{% endblock %}
