.adm {
  .nav-tabs {
    border-bottom: solid 1px $cp-green;

    & > li {
      &:hover > a {
        border-bottom-color: $cp-green;
      }
      &.active > a {
        background-color: $bg-light;
        border: solid 1px $cp-green;
        border-bottom-color: $bg-light;
        color: $cp-red;
      }

      & > a {
        color: $fg-light;
      }
    }
  }

  .adm-post--form {
    margin-top: 2em;

    .submit-btn { display: block; margin: 0 auto; }
  }
  .adm-post--list {
    margin: 4em 0;
    border-top: solid 2px $cp-green;

    h2 {
      margin: 1em 0;
      text-align: center;
    }

    ul { list-style: none; }
    .adm-post--list-item {
      border-top: solid 1px darken($bg-light, 5%);
      border-bottom: solid 1px darken($bg-light, 5%);
      padding: 2em 1em;

      &:hover {
        background-color: darken($bg-light, 5%);
      }

      .post-title {
        font-size: 1.5em;
        color: $fg-dark;
        margin-right: 1em;
      }

      aside {
        display: inline-block;
        float: right;
        margin-top: 6px;

        .post-info {
          font-weight: bold;
          text-transform: uppercase;
          color: lighten($fg-light, 5%);
          padding-right: 5px;
        }
      }
    }
  }

  .post {
    margin-top: 1em;
    padding: 1em;

    .post--header {
      position: relative;
      display: block;
      width: 100%;
      height: 120px;
      background-image: url('post_placeholder.jpg');
      background-size: 100% 120px;

      &:before {
        @extend .cp-overlay;

        z-index: 1;
        background-color: rgba(0, 0, 0, 0.5);
      }
    }
    .post--title {
      position: relative;
      top: -5em;
      color: $cp-white;
      z-index: 2;
      padding: 0 1.5em;
    }

    aside {
      margin-top: -4em;
      color: lighten($fg-light, 10%);

      .post--author {
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 5px;
      }
    }
    .post--content {
      background-color: lighten($bg-light, 5%);
      margin-top: 4em;
      padding: 0.5em 1em;
      border-radius: .5em;

      .note-video-clip {
        width: 100% !important;
      }
    }

  }
  .post-details-actions {
    .btn-action {
      float: right;
      margin-left: 1.5em;
    }
  }
}
