.home {
  .home--video {
    video.home--bgvid {
      position: fixed;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
      background: url(presidio.jpg) no-repeat;
      background-size: cover;
    }

    &:before {
      @extend .cp-overlay;
    }
  }


  .home--content {
    color: $cp-white;

    .home--brand {
      font-size: 3*$base-size;
      font-weight: bold;
      text-align: center;
      margin-top: 100px;
      margin-bottom: 50px;
    }

    .home--teaser {
      text-align: center;
    }

    .home--links {
      text-align: center;
      margin: 3em 0;
      a {
        @extend .cp-box-shadow;
        margin: 1*$base-size 3*$base-size;
        width: 200px;
      }
    }
  }
}
