.home {
  video.home--bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(presidio.jpg) no-repeat;
    background-size: cover;
  }

  .home--overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.75);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
  }

  .home--content {
    color: $cp-white;

    .home--brand {
      font-size: 4*$base-size;
      font-weight: bold;
      text-align: center;
      margin-top: 150px;
      margin-bottom: 50px;
    }

    .home--teaser {
      text-align: center;
    }

    .home--links {
      text-align: center;
      margin-top: 3em;
      a {
        @extend .cp-box-shadow;
        margin: 1*$base-size 3*$base-size;
        width: 200px;
      }
    }
  }
}
