.cp-menu-small {
  .navbar {
    @extend .cp-box-shadow;
    background-color: darken($bg-light, 5%);
    border: none;

    &.home {
      background-color: rgba(0, 0, 0, 0);
      box-shadow: none;
    }

    .menu-icon {
      display: inline-block;
      font-size: 1.5em;
      color: $cp-red;
      margin-left: 0.75em;
      margin-top: 0.75em;
    }
  }

  .navmenu {
    background-color: $cp-green;
    color: $cp-white;
    border-right: none;

    .navmenu-brand { color: $cp-white; }
    .nav li {
      & > a { color: $cp-white; }
      &:hover, &.active { background-color: $cp-red; }

      i { margin-right: 1em; }
    }
  }
}

.cp-menu-large {
  .navbar {
    @extend .cp-box-shadow;

    background-color: $cp-green;
    border: none;

    .navbar-brand, .nav > li a {
      color: $cp-white;
    }
    .navbar-actions { margin-right: $base-size; }
  }
}
