$cp-green:     rgb(85,  165, 165);
$cp-red:       rgb(210, 25,  25 );
$cp-blue:      rgb(30,  50,  130);
$cp-yellow:    rgb(210, 180, 45 );
$cp-orange:    rgb(210, 95,  0  );
$cp-grey:      rgb(225, 225, 225);
$cp-grey-dark: rgb(165, 165, 165);
$cp-white:     rgb(255, 255, 255);

$bg-light: $cp-grey;
$bg-dark: $cp-grey-dark;

$fg-light: #555;
$fg-dark: #333;
$fg-yellow: #dcbb5d;

$base-size: 14px;
