@import '{reywood:bootstrap3-sass}/bootstrap';

$cp-green:     rgb(85,  165, 165);
$cp-red:       rgb(210, 25,  25 );
$cp-blue:      rgb(30,  50,  130);
$cp-yellow:    rgb(210, 180, 45 );
$cp-orange:    rgb(210, 95,  0  );
$cp-grey:      rgb(225, 225, 225);
$cp-grey-dark: rgb(165, 165, 165);
$cp-white:     rgb(255, 255, 255);

$bg-light: $cp-grey;
$bg-dark: $cp-grey-dark;

$fg-light: #555;
$fg-dark: #333;

$base-size: 14px;

body{
  text-size: $base-size;
  color: $fg-light;
  background-color: $bg-light;
}

.cp-menu-small {
  .navbar {
    background-color: darken($bg-light, 5%);
    box-shadow: 0px ($base-size / 4) ($base-size / 2) 0px rgba(125, 125, 125, 0.5);
    border: none;

    &.home {
      background-color: rgba(0, 0, 0, 0%);
      box-shadow: none;
    }

    .menu-icon {
      display: inline-block;
      font-size: 1.5em;
      color: $cp-red;
      margin-left: 0.75em;
      margin-top: 0.75em;
    }
  }

  .navmenu {
    .nav li:hover { background-color: $bg-dark; }
  }
}
.cp-menu-large {
  .navbar {
    background-color: $cp-green;

    .navbar-brand, .nav > li a {
      color: $cp-white;
    }
    .navbar-actions { margin-right: $base-size; }
  }
}
.content {
  margin-top: 4 * $base-size;
}

#flashMessages {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 1080;
  text-align: center;

  .close {
    margin-top: -5px;
  }
}
