@import '{reywood:bootstrap3-sass}/bootstrap';

#flashMessages {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 300px;
  z-index: 1080;
  text-align: center;

  .close {
    margin-top: -5px;
  }
}
