html {
	height: 100%;
}

body {
	font-family: "source_sans_proregular";
	height: 100%;
	padding-top: 0;
}
#editable-toolbar, .editable-link {
    right: 0 !important;
    left: inherit !important;
}

section.container {
	min-height: 50%;
}

#footer {
	background: black;
	border: none;
	margin: 0;
	padding: 30px 20px 0;
	text-align: center;

	@media (min-width: 768px) {
		padding: 50px 0 40px;
	}

	.nav.navbar-nav.navbar-right {
		display: block;
		float: none !important;

		li {
			display: inline-block;
			float: none;

			a {
				color: white;
				font-family: $semibold;
				text-transform: uppercase;
			}

			a:hover,
			a:active,
			&.active a, {
				background: none;
			}
		}
	}

	.social-media {

		ul {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 30px auto 40px;
			max-width: 126px;
			padding: 0;
		}

		li {
			list-style: none;
		}

		.icon-facebook {
			background-color: $cp-orange;
			border-radius: 0.05em;
			color: black;
			font-size: 26px;
			line-height: 35px;

			&:before { margin-left: 6px; }

		}

		.icon-twitter {
			color: $cp-orange;
			font-size: 30px;
		}

		[class^="icon-"] {
			display: block;
			width: 26px;
			height: 26px;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.author {
		h5 {
			color: rgba(255,255,255,.5);
			font-size: 15px;
			font-family: inherit;
			font-weight: normal;
			padding-bottom: 30px;
			text-align: center;

			@media (min-width: 768px) {
				padding-bottom: 50px;
			}

			&:after {
				background: url(../images/conectas-logo.svg) no-repeat;
				background-size: contain;
				content: '';
				display: block;
				height: 100px;
				margin: 20px auto 0;
				width: 247px;
			}
		}
	}

	address {
		color: rgba(255,255,255,.5);
		font-size: 16px;
	}

	#gototop {
		display: none;
	}
}