.experts {

  & .row:first-child {
    padding: 0 1em 1em 1em;
  }
  & #title-1 h4, & #title-1 p,
  & #title-2 h4, & #title-2 p,{
    color: rgba(255, 255, 255, 1);
  }
  & .box {
    margin: 0 1em 0.2em 1em;
    background-color: white;
    padding-top: 1em;
  }
  & .expert-box {
    margin-bottom: 2em;
    overflow: auto;
  }
  & .expert-box:last-child {
    margin-bottom: 0.5em;
  }
  & .email{
    margin-right: 0.5em;
  }
  
}
