body {
	padding-top: 0;

	@media (min-width: 768px) {
		padding-top: 80px;
	}
}

.banner {

	.video	{
		background: url(../images/slider/carceropolis.png) no-repeat;
		background-size: cover;
		left: 50%;
		min-width: 100%;
		min-height: 100%;
		height: auto;
		position: fixed;
		top: 50%;
		-ms-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-webkit-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
		width: auto;
		z-index: -100;
	}

	h2 {
		@include hidetext;
		background: url(../images/carceropolis-logo.svg?c) no-repeat;
		background-size: 100% auto;
		display: block;
		font-size: 100%;
		height: 70px;
		line-height: inherit;
		margin: 20% auto 30px;
		max-width: 80%;
		padding: 0;

		@media (min-width: 480px) {
			margin: 10% auto 40px;
    		width: 380px;
    	}
	}

	p {
		margin: 0 auto 100px;
		max-width: 800px;
		padding: 0 20px;
	}

	.intro {
		font-size: 18px;
		font-weight: bold;
		line-height: 30px;
		text-align: center;
		color: white;
	}

	.links {

		@media (min-width: 480px) {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-around;
		}

		a {
			@extend .cp-box-shadow;
			background-color: $cp-orange-dark;
			color: white;
			padding: 5px 0;
			text-align: center;
			width: 200px;

			@media (max-width: 480px) {
				display: block;
				margin: 0 auto 30px;
				padding: 10px;
				width: 100px;
			}

			&:hover {
				text-decoration: none;
			}
		}
    }
}

#footer {
	background: black;
	border: none;
	margin: 0;
	padding: 50px 0 40px;
	text-align: center;

	.nav.navbar-nav.navbar-right {
		display: block;
		float: none !important;

		li {
			display: inline-block;
			float: none;

			a {
				color: white;
				text-transform: uppercase;
			}

			a:hover,
			a:active,
			&.active a, {
				background: none;
			}
		}
	}

	.social-media {

		ul {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 30px auto 40px;
			max-width: 126px;
			padding: 0;
		}

		li {
			list-style: none;
		}

		.icon-facebook {
			background-color: $cp-orange;
			border-radius: 0.05em;
			color: black;
			font-size: 26px;
			line-height: 35px;

			&:before { margin-left: 6px; }

		}

		.icon-twitter {
			color: $cp-orange;
			font-size: 30px;
		}

		[class^="icon-"] {
			display: block;
			width: 26px;
			height: 26px;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.author {
		h5 {
			color: rgba(255,255,255,.5);
			font-size: 16px;
			padding-bottom: 50px;
			text-align: center;

			&:after {
				content: '';
				display: block;
				background: url(../images/conectas-logo.svg) no-repeat;
				width: 247px;
				height: 100px;
				margin: 20px auto 0;
			}
		}
	}

	address {
		color: rgba(255,255,255,.5);
		font-size: 16px;
	}

	#gototop {
		display: none;
	}
}