.navbar {

	background-image: url(../images/simbolo-conectas.svg);
	background-position: calc(100% + 5px);
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	box-shadow: 0 0 10px #666;
	margin: 0;
	min-height: inherit;
	position: relative;

	.navbar-toggle {
		border: none;
		float: left;
		margin-right: 0;
		margin-left: 2px;
		border-radius: 0;

		&:hover,
		&:focus {
			background: none;
		}

		.icon-bar {
			background: $cp-red;
		}
	}

	.navbar-nav {
		background: $cp-red;
		margin: 0;
	}

	.main-nav {
		border-color: white;
		padding: 0;
	}

	.navbar-nav > li > a {
		font-family: $semibold;
		font-size: 18px;
		padding: 20px;
		text-transform: uppercase;
	}

	@media (min-width: 768px) {
		background-color: $cp-grey;
		background-position: calc(100% + 15px);
		box-shadow: none;
		min-height: 80px;

		.conectas {
			position: absolute;
			top: 5px;
			right: 60px;

			h2 {
				margin: 0;
				padding: 0;
				font-size: 11px;
			}

			h2 a {
				color: $cp-grey-dark;
				font-weight: normal;
				text-decoration: none;
			}
		}

		.navbar-nav {
			background: transparent;
		}

		.navbar-nav > li {

			> a {
				color: $navbar-links;
				padding: 10px 15px;
    			border-bottom: 2px solid transparent;
			}

			&:active > a,
			&:hover > a,
			&.active > a {
    			background: none;
    			color: $cp-orange;
    			border-color: $cp-orange;
			}
		}

		.navbar-brand {
			margin: 0;
			padding: 0;

	    	a {
	    		@include hidetext;
				background: url(../images/carceropolis-logo-vermelho.svg) no-repeat;
				background-size: 100% auto;
				display: block;
				font-size: 100%;
				height: 35px;
				line-height: inherit;
				margin: 0;
				padding: 0;
		    	width: 200px;
	    	}
		}

		.container .navbar-brand {
			margin-left: 0;
		}

		.navbar-header {
			padding-top: 20px;
		}

		.main-nav {
			padding-top: 22px;
		}
	}
}

#home .navbar {
	box-shadow: none;
}
