{% extends "base.html" %}
{% load i18n staticfiles %}
{% block meta_title %}{% trans "Carcerópolis" %}{% endblock %}
{% block title %}{% trans "Carcerópolis" %}{% endblock %}
{% block body_id %}home{% endblock %}
{% block top %}

{% endblock %}

{% block main %}
<section class="no-margin" id="main-slider">
  <div class="banner">
    <video id="intro-video" class="video" poster="{% static "images/slider/carceropolis.png" %}" muted loop autoplay>
      <source src="{% static "videos/carceropolis-intro.mp4" %}" type="video/mp4">
    </video>
    <img src="{% static "images/carceropolis-logo.svg" %}" alt="Carcerópolis" class="carceropolis-logo">
    <p class="intro">
      {% trans "text-home-intro" %}
    </p>
    <nav class="links">
      <a href="dados">{% trans "Data" %}</a>
      <a href="Publicacoes">{% trans "Publications" %}</a>
    </nav>
  </div>
  <a href="http://www.conectas.org/" class="conectas-home" title="Por Conectas Direitos Humanos">
    <img src="{% static "images/conectas-marca.svg" %}" alt="Conectas Direitos Humanos">
  </a>
</section>
{% endblock %}
