{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.meta_title }}
    {% else %}
        {% trans "Especialistas" %}
    {% endif %}
{% endblock %}


{% block main %}

<section class="container intro">
	<p>
		Hella narwhal Cosby sweater McSweeney's, salvia kitsch before they sold out High Life. Umami tattooed sriracha meggings pickled Marfa Blue Bottle High Life next level four loko PBR.
	</p>

	<ul class="lista-especialistas">
	{% for especialista in especialistas %}
		<li>
			<h3>
				{{especialista.nome}}
			</h3>
			<p>
				{{especialista.mini_bio}}
			</p>
			<p>
				Especialidade: {{especialista.especialidades}}
				{% for especialidade in especialista.especilidades %}
				{{especialidade.nome_da_especialidade}}
				{% endfor %}
			</p>
			<a href="mailto:{{especialista.email}}" class="email">{{especialista.email}}</a>
		</li>
	{% endfor %}
	</ul>
</section>


{% endblock %}
