{% load i18n future pages_tags blog_tags keyword_tags mezzanine_tags %}
<div class="social-media">
    <ul>
        <li><a href="http://www.facebook.com/conectas"><i class="icon-facebook"></i></a></li>
        <li><a href="http://www.twitter.com/conectas"><i class="icon-twitter"></i></a></li>
    </ul>
</div>
<div class="author">
    <h5>
    	<span>Um projeto Conectas</span>
		<a href="http://www.conectas.org/" target="_blank"><img src="/static/images/conectas-logo.svg" alt="Conectas"></a>
    </h5>
</div>
<address>
    2016 - Conectas Direitos Humanos | São Paulo - SP - Brasil | Tel/Fax +55 11 3884-7440 | Caixa Postal nº 62633 CEP: 01214-970 - São Paulo - SP
</address>