<!-- To be used inside a list element -->
<li>
  <h2 class="especilista-nome">{{especialista.nome}}</h2>
  <p class="instituicao">{{especialista.instituicao}}</p>
  <p class="biografia">{{especialista.mini_bio}}</p>
  {% with especialista.especialidades.all as especialidades %}
    {% if especialidades %}
      <h3 class="especialidade">Especialidade(s):</h3>
      <ul class="especialidades">
      {% for especialidade in especialidades %}
        <li>
          <a onclick="javascript:add_especialidade_filter('{{especialidade.nome}}')" title='Adiciona filtro de especialidade {{especialidade.nome}}'>
            {{ especialidade.nome }}
          </a>
        </li>
      {% endfor %}
      </ul>
    {% endif %}
  {% endwith %}
  {% if user.is_authenticated %}
    <p>+{{especialista.ddi}}-{{especialista.ddd}}-{{especialista.telefone}}</p>
    <a href="mailto:{{especialista.email}}" class="email">{{especialista.email}}</a>
  {% else %}
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#login_modal">
      Faça login para ver os contatos
    </button>
  {% endif %}
</li>

<script>
  function add_especialidade_filter(especialidade){
    let curr_filter = $("#filter_especialidade").val();
    $("#filter_especialidade").val(curr_filter + " " + especialidade);
    $("#filter_especialistas").submit();
  }
</script>
