{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.meta_title }}
    {% else %}
        {% trans "Especialistas" %}
    {% endif %}
{% endblock %}


{% block main %}

<section class="container">
  {% include "carceropolis/especialistas/includes/search.html" %}
  {% if error_message %}
    <div class="alert alert-danger alert-dismissible" role="alert">{{error_message}}</div>
  {% endif %}
  <ul class="lista-especialistas">
    {% for especialista in especialistas %}
      {% include "carceropolis/especialistas/especialista.html" %}
    {% endfor %}
  </ul>
  {% pagination_for especialistas %}
</section>

{% endblock %}

{% block final_js %}
  {{ block.super }}
  <script>
  $(function( ){
      let qs = "?"
      {% if area_atuacao %}
          qs += "area_atuacao={{area_atuacao}}&"
      {% endif %}
      {% if nome %}
          qs += "nome={{nome}}&"
      {% endif %}
      {% if especialidade %}
          qs += "especialidade={{especialidade}}"
      {% endif %}

      if (history.pushState && qs != "?") {
          var newurl = window.location.protocol + "//" + window.location.host + window.location.pathname + qs;
          window.history.pushState({path:newurl},'',newurl);
      }
  });
  </script>
{% endblock %}
