.sobre {

  #page-content-wrapper > .container {
    @media (max-width: 768px) {
      padding: 0;
    }
  }

  .editable-original {
    color: white;

    @media (min-width: 768px) {
      display: flex;
      margin-bottom: 3.5em;
    }

    > section {
      padding: 3em 2em;
    }

    h2 {
      margin: 0 0 1em;
    }

    p {
      margin: 0;
      padding-bottom: .5em;
    }
  }

  .archives {
    background: url(../images/archives.jpg);
    background-size: cover;
  }

  .black {
    background: black;
  }

  .white {
    background: white;
    color: black;
  }

}
