html {
	height: 100vh;
}

body {
	background-color: $cp-grey;
	font-family: $regular;
	height: 100vh;
	padding-top: 0;
	overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $semibold;
}

@media (max-width: 768px) {
	#editable-toolbar,
	.editable-link {
	    right: 0 !important;
	    left: inherit !important;
	}
}

#title {
	background: $cp-grey;
}

.breadcrumb {
	background: transparent;
	border-radius: 0;
	color: $breadcrumb;
	margin: 0;
	padding: 15px;

	> .active,
	a {color: $breadcrumb;}

	@media (max-width: 768px) {
	    padding: 15px;
	}
}

main.main-content {
	min-height: calc(100vh - #{$header} - #{$footer});
	width: 100%;
}

#footer {
	background: black;
	border: none;
	margin: 0;
	min-height: 53px;
	padding: 15px 0;
	text-align: center;

	.logo {
		display: block;
		margin: 0 auto 10px;
		width: 90px;
        padding-left: 10px;
        .ask {
          width: 50px;
        }
		
		@media (min-width: 768px){
			display: inline-block;
			margin: 0 10px 0 0;
			width: 100px;
            .ask {
              width: 60px;
            }
		}

		img {
			width: 100%;
		}
	}

	address {
		color: $conectas-cinza-claro;
		display: block;
		font-size: 16px;
		margin: 0;
		width: 100%;
		font-family: $light;
	}

	#gototop {
		display: none;
	}
}

.pagination > li > a {
	color: $cp-orange-dark;
}

.pagination > .active > span,
.pagination > .active > a,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
    background-color: $cp-orange-dark;
	border-color: $cp-orange-dark;
	z-index: 0;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
