html {
	height: 100%;
}

body {
	background-color: $cp-grey;
	font-family: "source_sans_proregular";
	height: 100%;
	padding-top: 0;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: $semibold;
}

@media (max-width: 768px) {
	#editable-toolbar, .editable-link {
	    right: 0 !important;
	    left: inherit !important;
	}
}

section.container {
	min-height: 50%;
}


#title {
	background: $cp-grey;
}

.breadcrumb {
	background: transparent;
	border-radius: 0;
	color: rgb(182,182,182);
	margin: 0;
	padding: 15px;

	> .active,
	a {color: rgb(182,182,182);}

	@media (max-width: 768px) {
	    padding: 15px;
	}
}


#footer {
	background: black;
	border: none;
	margin: 0;
	padding: 15px 0;
	text-align: center;

	.container{
    	-webkit-align-items: center;
    	align-items: center;
		display: flex;
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	    -webkitjustify-content: center;
	    justify-content: center;
	}

	.nav.navbar-nav.navbar-right {
		display: block;
		float: none !important;

		li {
			display: inline-block;
			float: none;

			a {
				color: white;
				font-family: $semibold;
				text-transform: uppercase;
			}

			a:hover,
			a:active,
			&.active a, {
				background: none;
			}
		}
	}

	.social-media {

		display: none;

		ul {
			align-items: center;
			display: flex;
			justify-content: space-between;
			margin: 30px auto 40px;
			max-width: 126px;
			padding: 0;
		}

		li {
			list-style: none;
		}

		.icon-facebook {
			background-color: $cp-orange;
			border-radius: 0.05em;
			color: black;
			font-size: 26px;
			line-height: 35px;

			&:before { margin-left: 6px; }

		}

		.icon-twitter {
			color: $cp-orange;
			font-size: 30px;
		}

		[class^="icon-"] {
			display: block;
			width: 26px;
			height: 26px;
		}

		a:hover {
			text-decoration: none;
		}
	}

	.author {
		display: none;

		h5 {

			margin: 0;
			position: relative;

			span {
				color: rgba(255,255,255,.5);
				font-size: 15px;
				font-family: inherit;
				font-weight: normal;
				padding-bottom: 30px;
				text-align: center;
				position: absolute;
				top: 20px;
				left: 0;

			}

			img {
				display: block;
				height: 100px;
				margin: 20px auto;
				width: 200px;
			}
		}
	}

	address {
		color: rgba(255,255,255,.5);
		display: block;
		font-size: 16px;
		margin: 0;
		width: 100%;
		font-family: $light;
	}

	#gototop {
		display: none;
	}
}