/* Based on https://codepen.io/cssgirl/pen/NGKgrM */
#data-main-container {
  @import "compass";
  @import "breakpoint";

  /* Center Content */
  max-width: 1100px;
  margin: 0 auto;

  /* Todo clean up some crappy code */
  .cards {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center; // space-around;
    margin-top: 15px;
    padding: 1.5%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  .card {
    flex-grow: 1;
    flex-basis: 33%;
    @media (max-width: 1920px) {
      flex-basis: 40%;
    }
    @media (max-width: 700px) {
      flex-basis: 100%;
    }
    //position: relative;
    margin-bottom: 20px;
    padding-bottom: 30px;
    background: #fefff9;
    color: #363636; /* the whole content of the card becomes linked, so this will give the text a "norma;" appearance */
    text-decoration: none;
    @include box-shadow(rgba(black, 0.19) 0 0 8px 0);
    @include border-radius(4px);
    @include breakpoint(700px, $no-query: true) {
    /* switch to 2 columns */
      margin-right: 20px;
      margin-bottom: 20px;
      &:nth-child(even) {
        margin-right: 0;
      }
    }
    .card-header {
      height: 80px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      background: rgba(234, 112, 46, 0.85);
      background-blend-mode: overlay;
      @include border-radius(4px 4px 0 0);
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
      justify-content: center; // space-around;
      align-items: center;

      .card-title {
        flex-basis: 100%;
        padding: 3.5% 0 2.5% 0;
        color: white;
        font-family: 'Roboto Condensed', sans-serif;
        text-transform: uppercase;
        //position: absolute;
        text-align: center;
        //bottom: 0;
        //width: 100%;
        font-weight: 500;
        font-size: 1.2em;
        line-height: 1.2;
        padding: 0 3.5%;
        margin: 0;
        font-family: "source_sans_prosemibold";
      }
    }

    .card-chart {
      padding: 5% 5% 3% 5%;
    }

    .card-meta {
      max-height: 0;
      overflow: hidden;
      color: #666;
      font-size: .78em;
      text-transform: uppercase;
      padding: 0 5%;
      @include transition-property(max-height);
      @include transition-duration(.4s);
      @include transition-timing-function(ease-in-out);
    }
    &:hover, &:focus {
      background: white;
      @include box-shadow(rgba(black, 0.45) 0px 0px 20px 0px);
      .card-header {
        background: rgba(234, 112, 46, 0.95);
      }
      .card-meta {
        max-height: 1em;
      }
    }
  }

  img {
    max-width: 100%; /*  stop images from breaking out of their bounding boxes. */
  }

  /* General styles for page to make it prettier ;P */
  /* body { */
    /* background :#f0f0f0; */
    /* font-size: 17px;  */
    /* line-height: 1.4; */
    /* font-family: 'Jaldi', sans-serif; */
  /* } */

  * {
    @include transition-property(
      background-color,
      border-color,
      box-shadow,
      color,
      opacity,
      text-shadow,
      transform
    );
    @include transition-duration(0.2s);
    @include transition-timing-function(linear);
  }
}
