.dados, .Dados {
	.navbar {
		background-position: calc(100% + 5px) 0;
		background-size: 50px;
	}
}

@media (max-width: 768px) {
	.breadcrumb {
		display: none;
	}
}

// Categorias / Home de Dados

.dados .container.frame {
  padding: 0;

  @media (min-width: 768px) {
    background: none
  }
}

.categorias-dados {

	li{
	    background-size: 100% auto;
	    background-repeat: no-repeat;
		list-style: none;
		margin-bottom: 2em
	}

	a {
		display: none;
	}

	.dados-gerais {
		background-image: url(../images/infografico/dados.jpg);
		height: 744px;
	}

	.perfil-populacional {
		background-image: url(../images/infografico/perfil-populacional.jpg);
		height: 705px;
	}

	.infraestrutura {
		background-image: url(../images/infografico/infraestrutura.jpg);
		height: 1213px;
	}

	.situacao-juridica {
		background-image: url(../images/infografico/situacao-juridica.jpg);
		height: 1226px;
	}

	.trabalho-educacao {
		background-image: url(../images/infografico/trabalho-educacao.jpg);
		height: 1174px;
	}

	.saude {
		background-image: url(../images/infografico/saude.jpg);
		height: 1203px;
	}

	.materno-infantil {
		background-image: url(../images/infografico/materno-infantil.jpg);
		height: 817px;
	}

	.alas-exclusivas {
		background-image: url(../images/infografico/alas-exclusivas.jpg);
		height: 875px;
	}
}