.especialistas .frame > p {
  margin: 0;
  padding: 1em;
}

.lista-especialistas {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  li {
    border-bottom: 1px solid $cp-grey;
    color: black;
    list-style: none;
    padding: 1.5em 1em;

    @media (min-width: 768px) {
      width: 25%;
    }
  }

  h3 {
    font-size: 18px;
    margin: 0 0 .5em;
  }

  .email{
    color: black;
    display: block;
    line-height: 30px;
    margin-right: .5em;

    &:before {
      background: url(../images/icon-mail.svg) no-repeat left center;
      background-size: 30px auto;
      content: '';
      display: block;
      float: left;
      height: 30px;
      margin-right: 10px;
      width: 30px;
    }
  }

}
