.especialistas .frame > p {
  margin: 0;
  padding: 1em;
}

.lista-especialistas {
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    -webkit-display: flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-bottom: 1em;
  }

  > li {
    border-bottom: 2px solid $cp-grey;
    color: black;
    list-style: none;
    padding: 1.5em 1em;

    @media (min-width: 768px) {
      border: 2px solid $cp-grey;
      margin: 10px;
      width: calc(25% - 20px);
    }

    @media (max-width: 768px) {
      &:last-child { border-bottom: none; }
    }
  }

  h3 {
    font-size: 18px;
    margin: 0 0 .5em;
  }

  .email{
    color: black;
    display: block;
    line-height: 30px;
    margin-right: .5em;

    &:before {
      background: url(../images/icon-mail.svg) no-repeat center;
      background-size: 70% auto;
      content: '';
      display: block;
      float: left;
      height: 30px;
      width: 30px;
    }
  }

  .especialidades {

  }

}
