$dark-pink: rgba(184,31,60,1);
$mid-pink: rgba(201,61,101,1);
$purple: rgba(51,1,41,1);
$arrow-color: white;

/*
help unidades

24pt => 32px (1em)
30pt => 40px (1.7em)
40pt => 53.3px (2.2em)
48.2pt => 64.2px
55pt => 73.3px
60pt => 80px (3.3em)

*/
.dados {

    background: $dark-pink;

    header + section{
        display: none;
    }
}

.infografico {

    counter-reset: section;
    font-size: 32px;

    .container {
        height: 100%;
    }

    .br {
        display: block;
    }

    section {
        background: $dark-pink;
        color: white;
        height: 100vh;
        font-family: $light;
        font-weight: lighter;
        letter-spacing: .01em;

        &:first-child {
            $alturaPrimeiraSecao: calc(100vh - 80px);
            height: $alturaPrimeiraSecao;
        }

        &:last-child {
            height: calc(100vh - 52px);
        }
 
        &:nth-child(odd){
            background: $purple;
        }

        h1 {
            align-self: baseline;
            font-family: $bold;
            font-size: 1.25em;
            letter-spacing: .01em;
            margin: 1em auto;
            width: 100%;

            &::after {
                @include clearfix;
            }
        }

        h1 a {
            border-bottom: 2px solid rgba(255,255,255,.9);
            color: white;
            display: block;
            line-height: 40px;
            padding-bottom: 1rem;
            text-transform: uppercase;

            &:hover {
                text-decoration: none;
            }

            &::before{
                counter-increment: section;
                content: counter(section) ". ";
            }

            &::after {
                background: url(../images/infografico/plus-button.svg) no-repeat top left;
                color: $purple;
                content: '';
                float: right;
                height: 40px;
                text-align: center;
                width: 40px;
            }

        }

        ol, ul, li {
            list-style: none;
        }
        strong {
            font-family: $bold;
        }

    }

	.dados-gerais {

        transform: translateY(1.4em);

        .container {
            height: 100%;
            @include flexcenter;
        }

        ol {
            @include flexcenter;
        }

        li{
            width: 50%;

            &:not(:first-child) {
                text-align: right;
            }
        }

        li:nth-child(1){
            border-bottom: 3px solid white;
            font-size: 2.5em;
            line-height: 1.2em;
            margin-bottom: .5em;
            padding-bottom: .5em;
        }

        li:nth-child(2){
            font-size: 1.65em;
            color: $purple;

            strong {
                text-transform: uppercase;
                font-size: 1.2em
            }
        }

        li:nth-child(3){
            font-size: 1.65em;

            strong {
                font-size: 1.2em
            }
        }

	}

	.perfil-populacional {
        background: $purple;
        color: white;

        h1 a {
            border-color: $dark-pink;
            color: $dark-pink;
        }

        .container {
            height: 100%;
            @include flexcenter;
        }

        ol {
            @include flexcenter;
        }

        li:nth-child(1){
            border-bottom: 3px solid $dark-pink;
            margin-bottom: 2em;
            padding-bottom: 2em;
            width: 100%;

            p:not(:first-of-type){
                color: $dark-pink;
            }

            strong {
                font-size: 2.55em;
                line-height: .9em;
            }
        }

        li:nth-child(2) {
            @include flexcenter;
            flex-wrap: nowrap;
            width: 95%;

            strong {
                color: $dark-pink;
            }

            span::before {
                content: '';
                background: $dark-pink;
                display: block;
                height: 150px;
                float: left;
                margin: 0 1em;
                width: 40%;
            }
        }

	}

	.infraestrutura {

        height: auto;

        h1 {
            margin-bottom: 1.5em;
        }

        strong{
            font-size: 2.3em;
        }

        li{

            &:not(:last-child) {
                margin-bottom: 2em;
                text-align: right;
            }

            &:last-child {
                margin: -1em auto 2em;
                text-align: center;

                span {
                    border-bottom: 1px solid white;
                    font-size: 1.13em;
                    letter-spacing: .06em;
                    padding-bottom: .1em;
                    text-transform: uppercase;
                }

                strong {
                    display: inline-block;
                    font-size: 3em;
                    transform: translate(.3em, .1em);
                }
            }

            &::after {
                @include clearfix;
            }
        }

        .cela {
            background: $purple;
            height: 10em;
            float: right;
            margin-left: 1em;
            margin-top: -.5em;
            width: 50%;
        }

	}

	.situacao-juridica {
	}

	.trabalho-educacao {
	}

	.saude {
	}

	.materno-infantil {
	}

	.alas-exclusivas {
	}
}

//= Setas de scroll ======================================= /
$size: 30px;

.scrolldown-arrow {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1;
}

.arrow-down{
  animation: softBlink 1500ms infinite;
  opacity: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -10px;
  height: $size;
  width: $size;
  border: 5px solid transparent;
  border-right-color: $arrow-color;
  border-bottom-color: $arrow-color;
  transform: rotate(45deg);
  transition: 1s ease-in-out;

  &:nth-child(2){
     animation: softBlink-mid 1500ms infinite;
  }

  &:nth-child(3){
     animation: softBlink-opaque 1500ms infinite;
  }
}
@keyframes softBlink{

  60%{
    opacity: 0;
  }
  100%{
    opacity: .2;
    transform: translateY($size/2) rotate(45deg);
  }
}

@keyframes softBlink-mid{
  40%{
    opacity: 0;
  }
  100%{
    opacity: .5;
    transform: translateY($size/2) rotate(45deg);
  }
}

@keyframes softBlink-opaque{
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
    transform: translateY($size/2) rotate(45deg);
  }
}