/* header */
header.navbar {
	background-color: $bg-light;
	background-image: url(../images/simbolo-conectas.svg);
	background-position: calc(100% + 5px);
	background-repeat: no-repeat;
	background-size: contain;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0;
	min-height: inherit;
	width: 100%;

	.navbar-toggle {
		border: none;
		float: left;
		margin-right: 0;
		margin-left: 2px;
		border-radius: 0;

		&:hover,
		&:focus {
			background: none;
		}

		.icon-bar {
			background: $cp-red;
		}
	}

	.navbar-nav {
		background: $cp-red;
		margin: 0;
	}

	.main-nav {
		border-color: white;
		padding: 0;
	}

	.navbar-nav > li > a {
		cursor: pointer;
		font-family: $semibold;
		font-size: 18px;
		padding: 20px;
		text-transform: uppercase;
	}

	@media (min-width: 768px) {
		background-position: calc(100% + 15px);
		min-height: 80px;

		.conectas {
			position: absolute;
			top: 5px;
			right: 60px;

			h2 {
				margin: 0;
				padding: 0;
				font-size: 11px;
			}

			h2 a {
				color: $conectas-cinza-escuro;
				font-weight: normal;
				text-decoration: none;
			}
		}

		.navbar-nav {
			background: transparent;
		}

		.navbar-nav > li {

			> a {
				color: $conectas-vermelho;
				padding: 10px 15px;
    			border-bottom: 2px solid transparent;
    			transition: .30s;
			}

			&:active > a,
			&:hover > a,
			&.active > a {
    			background: none;
    			color: $conectas-laranja-claro;
    			border-color: currentColor;
    			transition: .30s;
			}
		}

		.navbar-brand {
			margin: 0;
			padding: 0;

	    	a {
	    		@include hidetext;
				background: url(../images/carceropolis-logo-vermelho.svg) no-repeat;
				background-size: 100% auto;
				display: block;
				font-size: 100%;
				height: 35px;
				line-height: inherit;
				margin: 0;
				padding: 0;
		    	width: 200px;
	    	}
		}

		.container .navbar-brand {
			margin-left: 0;
		}

		.navbar-header {
			padding-top: 20px;
		}

		.main-nav {
			padding-top: 22px;
		}

		.dropdown-menu {
			display: none !important;
		}
	}
}

@media (max-width: 768px) {
	#home header.navbar {
		background: none;
		box-shadow: none;
	}

	.navbar-fixed-top {
		-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
	}

	.toggled .navbar-fixed-top {
		left: 280px;
	}
}