.unidades-prisionais {
    margin-bottom: 2em;
}

.unidades-prisionais .mapa {
    background-color: white;
    position: relative;

    &:after {
        @include clearfix;
    }

    .col-md-8 {
        padding-left: 0;
        padding-right: 0;
    }

    .col-md-4 {
        padding-top: 20px;
    }

    input[type=search].form-control {
        -webkit-appearance: searchfield !important;
        border: none;
        border-radius: 0;
        border-bottom: 2px solid $cp-grey-dark;
        box-shadow: none;
    }

    .btn {
        background-color: transparent;
        color: $cp-grey-dark;
        font-size: 22px;
        font-weight: bold;
        
        &::before, &::after {
            color: $cp-grey-dark;
        }
        
        &::before {
            content: '[';
            padding-right: 5px;
        }

        &::after {
            content: ']';
            padding-left: 5px;
        }

        &:active {
            box-shadow: none;
            color: $purple;
        }
    }

    .unidade-info {
        color: $purple;
        font-size: 1.2em;
        
        h2 {
            font-size: 1.2em;
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        h3 {
            font-size: 1.1em;
            margin-bottom: 15px;
            text-transform: uppercase;
        }

        h2 + p {
            font-style: italic;
        }
        
        a {
            color: $purple;
        }

        dl:after {
            @include clearfix;
        }
        
        dt, dd {
            float: left;
        }

        dt {
            clear: left;
            font-family: $bold;
            margin-bottom: .25em;
            padding-bottom: .25em;
            padding-right: 10px;
            text-transform: uppercase;
        }

        dd {
            margin-bottom: .25em;
            padding-bottom: .25em;
        }

        .indices {
            color: $cp-grey-dark;

            dt {
                list-style-type: none;
            }

            dt::before {
                content: '-';
                padding-right: 10px;
            }

            [data-juridico] {
                font-size: 1.5em;
                line-height: 1em;
            }

            [data-juridico=true] {
                color: $purple;
            }

            [data-juridico=false] {
                color: $fg-dark;
            }
        }

        .btn.pull-right {
            color: $purple;
            font-size: 18px;
        }
    }

    .btn.detailed-info {
        position: absolute;
        top: 20px;
        right: 20px;
    }

    .completeInfoPannel {
        border: 2px solid $cp-grey-dark;
        min-height: 600px;
        padding: 20px;
    }
}

#map {
    height: 600px;
    width: 100%;
}

.inner-bar {
    display: inline-block;
}
.align-right {
    text-align: right;
}
.align-center {
    text-align: center;
}
.full-width {
    width: 100%;
}