{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}{% if page %}{{ page.meta_title }}{% else %}{% trans "Publicação" %}{% endif %}{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Publicacação" %}
{% endif %}
{% endblock %}


{% block breadcrumb_menu %}
{{ block.super }}
{% if tag or categoria or year or month or author %}
<li>{% spaceless %}
{% if tag %}
    {% trans "Tag:" %} {{ tag }}
{% else %}{% if categoria %}
    {% trans "Categoria:" %} {{ Categoria }}
{% else %}{% if year or month %}
    {% if month %}{{ month }}, {% endif %}{{ year }}
{% else %}{% if author %}
    {% trans "Author:" %} {{ author.get_full_name|default:author.username }}
{% endif %}{% endif %}{% endif %}{% endif %}
{% endspaceless %}
</li>
{% endif %}
{% endblock %}


{% block main %}
<section class="container frame">
<!-- {{publicacoes}} -->

{% if tag or Categoria or year or month or author %}
    {% block publicacao_list_filterinfo %}
    <p>
    {% if tag %}
        {% trans "Viewing posts tagged" %} {{ tag }}
    {% else %}{% if Categoria %}
        {% trans "Viewing posts for the Categoria" %} {{ Categoria }}
    {% else %}{% if year or month %}
        {% trans "Viewing posts from" %} {% if month %}{{ month }}, {% endif %}
        {{ year }}
    {% else %}{% if author %}
        {% trans "Viewing posts by" %}
        {{ author.get_full_name|default:author.username }}
    {% endif %}{% endif %}{% endif %}{% endif %}
    {% endblock %}
    </p>
{% else %}
    {% if page %}
    {% block publicaca_list_pagecontent %}
    {% if page.get_content_model.content %}
        {% editable page.get_content_model.content %}
        {{ page.get_content_model.content|richtext_filters|safe }}
        {% endeditable %}
    {% endif %}
    {% endblock %}
    {% endif %}
{% endif %}

<ul class="lista-publicacoes">
    {% for publicacao in publicacoes.object_list %}
    <li>
    {% block publicacao_list_post_title %}
    {% editable publicacao.title %}
    <h2>
        <a href="{{ publicacao.get_absolute_url }}">{{ publicacao.title }}</a>
    </h2>
    {% endeditable %}
    {% endblock %}
    {% block publicacao_list_post_metainfo %}
    {% editable publicacao.publish_date %}
    <h6 class="post-meta">
        <span class="autoria">{% trans "Por" %} <strong>{{ publicacao.autoria }}</strong></span>
        <span class="data">{% blocktrans with sometime=publicacao.publish_date %}{{ sometime }}{% endblocktrans %}</span>
        <span class="categorias">
            {% with publicacao.categorias.all as categorias %}
            {% if categorias %}
            <!-- {% trans "em" %} -->
                {% for categoria in categorias %}
                    <a href="{% url "publicacao_list_categoria" categoria.slug %}">{{ categoria }}</a>{% if not forloop.last %}{% endif %}
            {% endfor %}
            {% endif %}
        {% endwith %}
        </span>
    </h6>
    {% endeditable %}
    {% endblock %}

    {% if settings.BLOG_USE_FEATURED_IMAGE and publicacao.featured_image %}
    {% block publicacao_list_post_featured_image %}
    <a href="{{ publicacao.get_absolute_url }}">
        <img class="img-thumbnail pull-left" src="{{ MEDIA_URL }}{% thumbnail publicacao.featured_image 90 90 %}">
    </a>
    {% endblock %}
    {% endif %}

    {% block publicacao_list_post_content %}
    {% editable publicacao.content %}
    {{ publicacao.description_from_content|safe }}
    {% endeditable %}
    {% endblock %}

    {% block publicacao_list_post_links %}
    <div class="publicacao-list-detail">
        {% keywords_for publicacao as tags %}
        {% if tags %}
        <ul class="list-inline tags">
        {% trans "Tags" %}:
        {% spaceless %}
        {% for tag in tags %}
        <li><a href="{% url "publicacao_list_tag" tag.slug %}" class="tag">{{ tag }}</a>{% if not forloop.last %} {% endif %}</li>
        {% endfor %}
        {% endspaceless %}
        </ul>
        {% endif %}
        <p>
        <!-- <a href="{{ publicacao.get_absolute_url }}">{% trans "read more" %}</a> -->
        </p>
    </div>
    {% endblock %}
    </li>
    {% endfor %}
</ul>

{% pagination_for publicacoes %}

{% if settings.COMMENTS_DISQUS_SHORTNAME %}
{% include "generic/includes/disqus_counts.html" %}
{% endif %}
</section>

{% endblock %}

{% block right_panel %}
{% include "publicacao/includes/filter_panel.html" %}
{% endblock %}
