{% extends "base.html" %}
{% load i18n mezzanine_tags blog_tags keyword_tags disqus_tags %}

{% block meta_title %}
    {% if page %}
        {{ page.meta_title }}
    {% else %}
        {% trans "Publicação" %}
    {% endif %}
{% endblock %}

{% block meta_keywords %}{% metablock %}
{% keywords_for page as keywords %}
{% for keyword in keywords %}
    {% if not forloop.first %}, {% endif %}
    {{ keyword }}
{% endfor %}
{% endmetablock %}{% endblock %}

{% block meta_description %}{% metablock %}
{{ page.description }}
{% endmetablock %}{% endblock %}

{% block title %}
{% if page %}
{% editable page.title %}{{ page.title }}{% endeditable %}
{% else %}
{% trans "Publicacação" %}
{% endif %}
{% endblock %}

{% block breadcrumb_menu %}{% endblock %}

{% block main %}
<section class="container frame">

<ul class="categorias-publicacoes">
  {% for categoria in categorias %} <!-- Categoria == Área de Atuação -->
    <li class="categoria-{{categoria}}">
        <a href="categoria/{{ categoria.slug }}">{{ categoria.nome }}</a>
    </li>
  {% endfor %}
</ul>

</section>
{% endblock %}
