{% load i18n future pages_tags blog_tags keyword_tags mezzanine_tags %}

{% page_menu "pages/menus/dropdown.html" %}
<div class="social-media">
    <ul>
        <li><i class="fa fa-facebook"></i></li>
        <li><i class="fa fa-twitter"></i></li>
    </ul>
</div>
<div class="author">
    <h5>Um projeto Conectas</h5>
    <address>
        2016 - Conectas Direitos Humanos | São Paulo - SP - Brasil | Tel/Fax +55 11 3884-7440 | Caixa Postal nº 62633 CEP: 01214-970 - São Paulo - SP
    </address>
</div>