body.fale-conosco {
  background-image: url(../images/background-contact.jpg);
  background-position: center;
  background-size: cover;

  .main-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.5);
    padding: 2em;

    &:after {
      @include clearfix;
    }

    @media(min-width:768px) {
      .layoutArea,
      .editable-original,
      > p:first-child {
        flex: initial;
        order: 2;
      }
    }

    .mezzanine-form {
      flex: auto;
      margin-top: 50px;
      order: 3;

      @media(min-width:768px) {
        margin: 0;
        order: 1;
      }

      .form-group {
        display: flex;
        flex-shrink: 1;
        flex-grow: 0;
        flex-basis: content;
        flex-flow: row wrap;

        .help-block {
            display: none;
        }
        label.control-label,
        input,
        select,
        textarea {
          flex: 0 1 content;
          margin: 5px;
          padding: 5px; 
        }

        label.control-label {
          order: 1;
        }

        input,
        select,
        textarea {
          order: 3;
          background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.26) 60%,rgba(0,0,0,0.45) 100%);
          border: none;
          border-bottom: 2px solid $cp-orange-dark;
          border-radius: initial;
          box-shadow: inherit;
          color: white;
          transition: inherit;
        }
  
        textarea {
          border: 2px solid $cp-orange-dark;
          line-height: 24px;
        }
        
        @media(min-width:768px) {
          padding: 5px; 
        }
      }
  
      .btn-primary,
      label.control-label {
        color: white;
        font-family: $light;
        font-size: 12px;
        letter-spacing: .05em;
        /* margin-bottom: 0; */
        text-transform: uppercase;
      }
  
      .form-actions {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-bottom: 0;
        border-radius: 0;

        .btn-primary {
          background: transparent;
          border: 2px solid $cp-orange-dark;
          padding: 10px;
          width: 100px;
        }
      }
    }
  }
}
