.dados, .Dados {
	position: relative; //necessario para as animacoes
	
	.emerald {
		display: none;
	}
}

.menu-dados {
	display: flex;
	height: 42px;
	justify-content: space-between;
	margin-bottom: 10px;
	text-align: center;
	
	@media (min-width: 480px){
		display: block;
		float: right;
		height: 50px;
		margin: 20px 0;
	}

	a {
		color: $breadcrumb;
		height: 100%;
		
		@media (min-width: 480px){
			display: block;
			float: left;
		}
	}

	a.active {
		color: $dark-pink;
	}

	a:active,
	a:focus,
	a:hover {
		text-decoration: none;
	}

	span {
		display: inline-block;
		text-indent: -99999em;
		width: 0;
	}

	a::before {
		display: block;
		font-family: 'carceropolis';
		font-size: 2em;
		height: 100%;
		line-height: 40px;
		text-indent: 0;
		width: 36px;
		
		@media (min-width: 480px){
			font-size: 2.4em;
			line-height: 50px;
			width: 50px;
		}
	}
	
	.gerais::before {
		content: $icon-dados-gerais;
	}
	
	.perfil::before {
		content: $icon-perfil-populacional;
	}
	
	.infra::before {
		content: $icon-infraestrutura;
	}
	
	.juridico::before {
		content: $icon-juridica;
	}
	
	.educacao::before {
		content: $icon-trabalho-educacao;
	}
	
	.saude::before {
		content: $icon-saude;
	}
	
	.materno::before {
		content: $icon-materno;
	}
	
	.alas-exclusivas::before {
		content: $icon-alas-exclusivas;
	}
	
	.unidades-prisionais::before {
		content: $icon-brasil;
	}
}

.dados-interna {
	a {
		color: $dark-pink;
	}

	h1 {
		background: $dark-pink;
		color: white;
		font-family: $bold;
		font-size: 1.6em;
		margin: 0 0 15px;
		padding: 15px 20px;
		text-transform: uppercase;
		
		@media (min-width: 480px){
			font-size: 2.4em;
			margin: 0 0 30px;
			padding: 20px;
		}
	}

	p {
		font-size: 18px;
		margin-bottom: 20px;
	}

	.graf {
		padding: 15px;
		position: relative;
		margin: 0 0 80px;
	}

	
	.graf-meta {
		color: $author-publication;

		.js-plot-link-container {
				color: $author-publication;
		}

		dl { 
			margin: 0;
			max-width: 70%;
		}

		dd {
			text-indent: 10px;
		}
	}

	.graf .download {
		background: white;
		font-size: 14px;
		padding: 0 2px 5px;
		position: absolute;
		right: 0;
		top: calc(100% + 1px);
		text-transform: lowercase;

		a:hover {
			text-decoration: none;
		}

		::before, ::after {
			font-family: $bold;
			font-size: 2em;
			position: relative;
			top: 3px;
		} 

		::before {
			content: '['
		}

		::after {
			content: ']'
		}
	}
}
