/* header */
header.navbar {
	background-color: $bg-light;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	margin: 0;
	width: 100%;

	//icone mobile
	.navbar-toggle {
		border: none;
		float: left;
		margin: 0;
		padding: 1em;
		border-radius: 0;

		.icon-bar {
			background: $cp-red;
			height: 3px;
			width: 30px;
		}

		.icon-bar + .icon-bar {
			margin-top: 6px;
		}

	}

	//logo desktop
	.navbar-brand {
		margin: 0;

		a {
			@include hidetext;
			background: url(../images/carceropolis-logo-vermelho.svg) no-repeat;
			background-size: 100% auto;
			display: block;
			height: 35px;
            width: 200px;
            
		}
        
        @media (min-width: 768px) and (max-width: 992px) {
            padding-right: 0;

            a {width: 150px;}
        }
    }

    // Title mobile
    .mobile-title {
        color: $conectas-vermelho;
        font-size: 1.4em;
        line-height: 2.6em;
        margin: 0;
        text-transform: uppercase;
    }

    //menu desktop
    .main-nav {
        height: $header;
    }
    
    .navbar-nav {
        display: flex;
        padding-top: 15px;
    }
    
	.navbar-nav > li { 
        float: none;
    
        > a {
            border-bottom: 2px solid transparent;
            color: $conectas-vermelho;
            font-family: $semibold;
            font-size: 1.2em;
            padding: 10px 15px 18px;
            text-transform: uppercase;
            transition: color, border .3s linear;		
    
            &:active, &:hover, &:focus, &.active  {
                background: none;
            }
            
            @media (min-width: 768px) and (max-width: 992px) {
                font-size: 1em;
                padding: 5px 12px 23px;
            }
            
        }

        &:hover > a, &:active > a, &:focus > a {
            border-color: currentColor;
            color: $title-publication;
        }

        &.active > a {
            border-color: currentColor;
            color: $conectas-laranja-claro;
            cursor: default;
        }
    }
    
    @media (max-width: 768px) {

        #home header.navbar {
            background: none;
            box-shadow: none;

            .icon-bar {
                background: white
            }
        }

        .navbar-fixed-top {
            transition: all 0.5s ease;
        }

        .toggled .navbar-fixed-top {
            left: 280px;
        }
    }
}