/* Toggle Styles */
#wrapper {
    height: 100vh;
    transition: all .5s ease;
    
    &.toggled {
        padding-left: 280px;
    }
}

#sidebar-wrapper {
    background: $sidebar-bg url(../images/grafismo_principal.svg) no-repeat top right;
    background-size: 138px;
    height: 100vh;
    overflow-y: auto;
    position: fixed;
    transform: translateX(-280px);
    transition: transform, width, box-shadow .5s ease;
    width: 280px;
    z-index: 1000;
}

#wrapper.toggled #sidebar-wrapper {
    box-shadow: 0 50px 20px rgba(0,0,0,.5);
    width: 280px;
}

#page-content-wrapper {
    height: 100%;
    position: absolute;
    width: 100%;
}

#wrapper.toggled #page-content-wrapper {
    margin-right: -280px;
}

/* Sidebar Styles */
.sidebar-nav {

    .navbar-right {
        margin: 0;

        > li {
            a:before {
                background-position: 0 100%;
                background-repeat: no-repeat;
                background-size: 100% auto;
                content: '';
                display: inline-block;
                height: 24px;
                margin-right: 10px;
                position: relative;
                width: 20px;
            }

            &:nth-child(1) > a:before {
                background-image: url(../images/icon-dados.svg);
                top: 5px;
            }
            &:nth-child(2) > a:before {
                background-image: url(../images/icon-publicacoes.svg);
                top: 6px;
            }
            &:nth-child(3) > a:before {
                background-image: url(../images/icon-especialistas.svg);
                top: 3px;
                margin-left: -4px;
                width: 24px;
            }
            &:nth-child(4) > a:before {
                background-image: url(../images/icon-contato.svg);
                top: 5px;
            }
            &:nth-child(5) > a:before {
                background-image: url(../images/icon-sobre.svg);
                top: 4px;
            }
        }
    }

    li {

        a {
            color: $conectas-grafismo-amarelo;
            font-family: $semibold;
            padding: 5px 0 15px 15px;
            text-transform: uppercase;
        }

        a:hover, a:active, a:focus {
            background: rgba(255,255,255,0.2);
            color: white;
            text-decoration: none;
        }
    }

    .navbar-right > li > a.dropdown-toggle:hover {
        background-color: inherit;
        color: $conectas-grafismo-amarelo;
    }

    .dropdown-menu {
        display: block !important;
        position: static;
        z-index: 0;
        float: none;
        min-width: inherit;
        padding:0 0 10px;
        margin: 0;
        font-size: inherit;
        list-style: none;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid white;
        border-radius: 0;
        box-shadow: none;

        li a {
            text-transform: none;
            padding-left: 54px;
        }
    }
}

.sidebar-brand {
    border-bottom: 1px solid white;
    display: block;
    margin: 0;
    padding: 15px 0;

    svg {
        display: block;
        transform: scale(0.7) translateX(-20px);
    }

    svg g {
        fill: #FFF;
    }
}